<div id="userAccountManage" class="contentWrapper">
	<div>
		<form name="userAccountLoginInfo" novalidate usr-account-login-info-dir>
			<h2>Login informations</h2>
			<p>
				<label for="usrLogin">Login</label>
				<input type="text" name="usrLogin" id="usrLogin" ng-model="user.usrLogin" />
			</p>
			<p>
				<label for="usrPassword">Password</label>
				<input type="password" name="usrPassword" id="usrPassword" ng-model="user.usrPassword" />
			</p>
			<p>
				<label for="usrPasswordConfirm">Password Confirmation</label>
				<input type="password" name="usrPasswordConfirm" id="usrPasswordConfirm" ng-model="user.usrPasswordConfirm" />
			</p>
			<input type="submit" value="Modifier" />
		</form>

		<form name="userAccountPersonalInfo" usr-account-personal-dir>
			<h2>Personal informations</h2>
			<label for="usrFirstName">First Name</label>
			<input type="text" name="usrFirstName" id="usrFirstName" ng-model="user.usrFirstName" />
			<label for="usrLastName">Last Name</label>
			<input type="text" name="usrLastName" id="usrLastName" ng-model="user.usrLastName" />
			<label for="usrMail">Mail</label>
			<input type="mail" name="usrMail" id="usrMail" ng-model="user.usrMail" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" />
			<input type="submit" value="Modifier" />
		</form>
	</div>
</div>