<div class="authForm">
  
  <h1 class="moustache">Formulaire de connexion</h1>
  <form name="loginForm" novalidate login-form-dir>
    
    <p>
      <input type="text" id="usrLogin" name="usrLogin" ng-model="user.usrLogin" required auth-input-text-dir />
      <label for="usrLogin">
        Login
      </label>
    </p>
    <p>
      <input type="password" id="usrPassword" name="usrPassword"  ng-model="user.usrPassword"required auth-input-text-dir />
      <label for="usrPassword">
        Password
      </label>
    </p>
    <p>
      <input type="submit" value="Se Connecter" />
    </p>

  </form>

</div>