<div id="navigation-bottom-wrapper" ng-controller="NavigationController">
	<nav id="navigation" role="navigation">
		<div id="navigation-open-close-button" class="close" navigation-open-close-dir>
			<span>Menu</span>
		</div>
		<ul id="navigation-elements">
			<li ng-repeat="element in menuElements" ng-hide="{{ element.hide }}" class="navigation-element hide-data-title" data-title="{{ element.title }}" navigation-menu-element-dir>
				<a href="{{ element.link }}" ng-if="element.link">
					<img src="{{ element.imgSrc }}" />
				</a>
				<img src="{{ element.imgSrc }}" ng-if="!element.link" />
				<ul class="navigation-sub-elements" ng-if="element.subElements">
					<li class="navigation-sub-element" ng-repeat="subElement in element.subElements" ng-hide="{{ subElement.hide }}" >
    					<a href="{{ subElement.link }}">{{ subElement.label }}</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
    <nav id="navigation-sub"></nav>
</div>