/* NOTIFICATION */
div#notification{
    position:fixed;
    bottom:35px;
    left:0;
    z-index:20;
}
div#notification ul li{
    position:relative;
    display:block;
    margin-top:5px;
    cursor:pointer;
    padding:7px;
    font-weight:bold;
    text-align:justify;
    width:250px;
    background:#111725;
}
div#notification ul li.error{
    color:#F36F6F;
    border:2px solid #F36F6F;
}
div#notification ul li.success{
    color:#08A54B;
    border:2px solid #08A54B;
}
div#notification ul li.error:hover:after{
  content:'Close notification';
  display:block;
  position:absolute;
  top:0;
  width:250px;
  height:100%;
  z-index:151;
  background:#111725;
}
div#notification ul li.success:hover:after{
  content:'Close notification';
  display:block;
  position:absolute;
  top:0;
  width:250px;
  height:100%;
  z-index:151;
  background:#111725;
}
/* END NOTIFICATION */