/* RESET CSS */
* { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
div#navigation-bottom-wrapper ul, div#navigation-bottom-wrapper li ,div#navigation-bottom-wrapper img{
    margin:0;
    padding:0;
    list-style:none;
}
/* END RESET CSS */
/* WRAPPER */
div#navigation-bottom-wrapper{
	background:#111725;
	position:fixed;
	bottom:-61px;
	left:0;
	width:100%;
	border-bottom:5px solid #577F7F;
	height:55px;
	color:#D5E3E3;
    overflow: visible !important;/*prevent jquery animate overflow:hidden*/
    z-index:100;
    box-shadow:0 0 15px 1px #111725;
}
@media only screen and (min-width : 768px){
	div#navigation-bottom-wrapper{
		bottom:0px;
	}
    div#navigation-bottom-wrapper div#navigation-open-close-button{
        display:none;
    }
}
/* END WRAPPER */
/* OPEN CLOSE BUTTON */
div#navigation-bottom-wrapper div#navigation-open-close-button{
    width:40px;
	height:25px;
	position:absolute;
	top:-65px;
	left:0;
	cursor:pointer;
	text-align:center;
	padding:20px 10px;
	font-weight: bold;
    font-size:1.2em;
	background:#111725;
	color:#577F7F;
	box-shadow:0px 0px 30px 1px #111725;
    border-radius:0 5px 0 0;
}
div#navigation-bottom-wrapper div#navigation-open-close-button:hover{
    box-shadow:0px 0px 30px 1px #000;
}
/* END OPEN CLOSE BUTTON */
/* MAIN NAV */
div#navigation-bottom-wrapper nav#navigation{
    border-bottom:5px solid #577F7F;
}
div#navigation-bottom-wrapper nav#navigation li{
    cursor:pointer;
}
div#navigation-bottom-wrapper nav#navigation ul#navigation-elements{
    white-space: nowrap;
    overflow-x:auto;
}
div#navigation-bottom-wrapper nav#navigation ul#navigation-elements a{
	display:block;
}
div#navigation-bottom-wrapper nav#navigation ul#navigation-elements img{
    height:45px;
	width:45px;
}
div#navigation-bottom-wrapper nav#navigation ul#navigation-elements li.navigation-element{
	display:inline-block;
	height:45px;
	width:45px;
	cursor:pointer;
	padding:5px 8px;
    box-shadow:0 0 15px 1px #111725 inset;
}
div#navigation-bottom-wrapper nav#navigation ul#navigation-elements li.navigation-element:hover{
    background:#577F7F;
}
div#navigation-bottom-wrapper nav#navigation ul#navigation-elements li.navigation-element>ul.navigation-sub-elements{
    display:none;
}
/* END MAIN NAV */
/* SUB NAV */
div#navigation-bottom-wrapper nav#navigation-sub ul.navigation-sub-elements{
    display:flex;
    flex-flow: row wrap;
}
@media only screen and (min-width : 768px){
	div#navigation-bottom-wrapper nav#navigation-sub ul.navigation-sub-elements{
		max-width:50%;
	}
}
div#navigation-bottom-wrapper nav#navigation-sub ul.navigation-sub-elements li.navigation-sub-element{
    margin:0 8px 0 8px;
    padding:5px 8px;
    flex-shrink: 0;
}
div#navigation-bottom-wrapper nav#navigation-sub ul.navigation-sub-elements li.navigation-sub-element a{
    color:#577F7F;
    text-decoration:none;
    font-weight:bold;
}
div#navigation-bottom-wrapper nav#navigation-sub ul.navigation-sub-elements li.navigation-sub-element a:hover{
    border-bottom:1px dotted #577F7F;
}
/* END SUB NAV */