/* RESET CSS */
div#navigation-bottom-wrapper ul, div#navigation-bottom-wrapper li ,div#navigation-bottom-wrapper img{
    margin:0;
    padding:0;
    list-style:none;
}
/* END RESET CSS */
/* WRAPPER */
div#navigation-bottom-wrapper{
	background:#111725;
	position:fixed;
	bottom:-61px;
	left:0;
	width:100%;
	border-bottom:5px solid #577F7F;
	border-top:5px solid #577F7F;
	height:55px;
	color:#D5E3E3;
    overflow: visible !important;/*prevent jquery animate overflow:hidden*/
    z-index:100;
    box-shadow:0 0 15px 1px #111725;
}
/* END WRAPPER */
/* OPEN CLOSE BUTTON */
div#navigation-bottom-wrapper div#navigation-open-close-button{
    width:45px;
	height:45px;
	border-radius:0 75px 0 0;
	position:absolute;
	top:-85px;
	left:0;
	cursor:pointer;
	text-align:center;
	padding:30px 20px 0 0;
	font-weight: bold;
	background:#111725;
	border-top:5px solid #577F7F;
	border-right:5px solid #577F7F;
	color:#577F7F;
	box-shadow:0 0 15px 1px #111725;
}
div#navigation-bottom-wrapper div#navigation-open-close-button.open{
	background:#111725;
	border-top:5px solid #577F7F;
	border-right:5px solid #577F7F;
	color:#577F7F;
}
div#navigation-bottom-wrapper div#navigation-open-close-button:hover{
    
}
/* END OPEN CLOSE BUTTON */
/* MAIN NAV */
div#navigation-bottom-wrapper nav#navigation{
    overflow:hidden;
    border-bottom:5px solid #577F7F;
}
div#navigation-bottom-wrapper nav#navigation li{
    cursor:pointer;
}
div#navigation-bottom-wrapper nav#navigation ul#navigation-elements{
    position:relative;
    white-space: nowrap;
    overflow-x:auto;
}
div#navigation-bottom-wrapper nav#navigation ul#navigation-elements img{
    height:45px;
	width:45px;
}
div#navigation-bottom-wrapper nav#navigation ul#navigation-elements li.navigation-middle-elements{
	display: inline-block;
	height:45px;
	width:45px;
	position:relative;
	cursor:pointer;
	padding:5px 8px;
}
div#navigation-bottom-wrapper nav#navigation ul#navigation-elements li.navigation-middle-elements:hover{
    background:#577F7F;
}
div#navigation-bottom-wrapper nav#navigation ul#navigation-elements li.navigation-middle-elements:after{
    padding:8px;
	background:#111725;
	position: absolute;
	text-align: center;
	left:0px;
	bottom:55px;
	width:179px;
	white-space: nowrap;
	border:5px solid #577F7F;
	color:#D5E3E3;
	content: attr(data-title);
	opacity: 0;
	display:none;
}
div#navigation-bottom-wrapper nav#navigation ul#navigation-elements li.navigation-middle-elements:hover:after{
	opacity:1;
	display:block;
	animation-name: menuItemDataTitle;
	animation-duration:0.6s;
}
@keyframes menuItemDataTitle{
	from{opacity:0;}
	to{opacity:1;}
}
/* END MAIN NAV */
/* SUB NAV */
div#navigation-bottom-wrapper nav#navigation-sub ul.navigation-sub-elements{
    display:flex;
    flex-flow: row wrap;
}
@media only screen and (min-width : 768px){
	div#navigation-bottom-wrapper nav#navigation-sub ul.navigation-sub-elements{
		max-width:50%;
	}
}
div#navigation-bottom-wrapper nav#navigation-sub ul.navigation-sub-elements li.navigation-sub-middle-elements{
    margin:0 8px 0 8px;
    padding:5px 8px;
    flex-shrink: 0;
}
div#navigation-bottom-wrapper nav#navigation-sub ul.navigation-sub-elements li.navigation-sub-middle-elements a{
    color:#577F7F;
    text-decoration:none;
    font-weight:bold;
}
div#navigation-bottom-wrapper nav#navigation-sub ul.navigation-sub-elements li.navigation-sub-middle-elements a:hover{
    border-bottom:1px dotted #577F7F;
}
/* END SUB NAV */