/* NOTIFICATION */
div#notification{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:150;
}
div#notification ul{
    width:100%;
}
div#notification ul li{
    position:relative;
    display:block;
    margin:auto;
    margin-top:5px;
    cursor:pointer;
    border-radius:8px;
    padding:7px;
    font-weight:bold;
    border-bottom:1px solid #000;
    text-align:justify;
}
div#notification ul li.error{
    background:rgba(252,201,201,0.9);
    color:#F36F6F;
    border:2px solid #F36F6F;
}
div#notification ul li.success{
    background:rgba(186,252,167,0.9);
    color:#08A54B;
    border:2px solid #08A54B;
}
div#notification ul li.test:after{
  content:'Close notification';
  display: table-cell;
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:151;
  width:100%;
  padding-left:5px;
  height:100%;
  border-radius:8px;
  background: rgba(252,201,201,1);
  background: -moz-linear-gradient(left, rgba(252,201,201,1) 0%, rgba(252,201,201.55) 68%, rgba(255,255,255,0.34) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,201,201,1)), color-stop(68%, rgba(252,201,201.55)), color-stop(100%, rgba(255,255,255,0.34)));
  background: -webkit-linear-gradient(left, rgba(252,201,201,1) 0%, rgba(252,201,201.55) 68%, rgba(255,255,255,0.34) 100%);
  background: -o-linear-gradient(left, rgba(2252,201,201,1) 0%, rgba(252,201,201.55) 68%, rgba(255,255,255,0.34) 100%);
  background: -ms-linear-gradient(left, rgba(252,201,201,1) 0%, rgba(252,201,201.55) 68%, rgba(255,255,255,0.34) 100%);
  background: linear-gradient(to right, rgba(252,201,201,1) 0%, rgba(252,201,201.55) 68%, rgba(255,255,255,0.34) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCC9C9', endColorstr='#ffffff', GradientType=1 );
}
div#notification ul li.test.success:after{
  background: rgba(186,252,167,1);
  background: -moz-linear-gradient(left, rgba(186,252,167,1) 0%, rgba(186,252,167.55) 68%, rgba(255,255,255,0.34) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(186,252,167,1)), color-stop(68%, rgba(186,252,167.55)), color-stop(100%, rgba(255,255,255,0.34)));
  background: -webkit-linear-gradient(left, rgba(186,252,167,1) 0%, rgba(186,252,167.55) 68%, rgba(255,255,255,0.34) 100%);
  background: -o-linear-gradient(left, rgba(2186,252,167,1) 0%, rgba(186,252,167.55) 68%, rgba(255,255,255,0.34) 100%);
  background: -ms-linear-gradient(left, rgba(186,252,167,1) 0%, rgba(186,252,167.55) 68%, rgba(255,255,255,0.34) 100%);
  background: linear-gradient(to right, rgba(186,252,167,1) 0%, rgba(186,252,167.55) 68%, rgba(255,255,255,0.34) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCC9C9', endColorstr='#ffffff', GradientType=1 );
}
@media only screen and (min-width:768px){
  div#notification{
      top:auto;
      left:auto;
      bottom:78px;
      right:22px;
      width:300px;
  }
  div#notification ul li{
      width:100%;
      margin-bottom:5px;
  }
}
/* END NOTIFICATION */