doctype html
html(ng-app="agilog")
    head
        meta(charset="utf-8")
        title AgiLog
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="./css/app.min.css")
        script(src="./js/vendors.min.js")
        script(src="./js/app.min.js")
        
    body(ng-controller="RootController")
        div(id="wrapper")
            div(id="loading", ng-show="root.loading")
              span(id="loadingIco")
            div(id="topBanner", ng-show="root.user")
                form(id="topSearchForm")
                    input(type="text", placeholder="Rechercher...", required, id="searchValue", name="searchValue")
                    input(type="submit", value="", title="Lancer la recherche")
                h1(id="pageTitle") {{ root.pageTitle }}
                div(id="topAddButton", class="menuIco", data-title="Ajouter une nouvelle carte")
                    span +
            navigation-dir
            notification-dir
            section(id="content")
                ng-view