/* GENERAL THEM STYLE */

/*RESET*/
*{
    margin:0;
    padding:0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /** Prevent highlight on click on mobile device */
}

/*MAIN*/
html, body{
  width:100%;
  position:relative;
}
body{
  background:#F8F8F8;
  color:#7C7C7C;
  overflow-x:hidden;
  font-size:14px;
  font-family:'open sans';
  letter-spacing:1px;
  line-height:20px;
  z-index:0;
  padding-bottom:50px;
}
h1{font-size: 2em;}
h2{font-size: 1.5em;}
h3{font-size: 1.3em;}
h4{font-size: 1.2em;}
h1, h2, h3, h4 {
	display:block;
	line-height:40px;
	color:#3B3B3B;
}
ul{
    list-style:none;
}
a{
  text-decoration: none;
}

/*FLEX-LAYOUT*/
.flex-container{
  display:flex;
}
.flex-full{
  flex:1 100%;
}
.flex-adjust{
  flex:1;
}
.flex-wrap{
  flex-flow: row wrap;
}

/*FORMS*/
form.form-title-blue{
  border:2px solid #319CCE;
}
form.form-title-blue h1, form.form-title-blue h2{
  background:#319CCE;
  text-align:center;
  color:#F8F8F8;
}
form.form-title-blue > div{
  padding:8px;
  margin-top:35px;
}
input{
  letter-spacing: 2px;
  font-family:'Times New Roman';
  outline:none;
}
input[type="submit"], button.submit{
  border:2px solid #111725;
  background:none;
  width:50%;
  margin:auto;
  height:30px;
  display:block;
  cursor:pointer;
  letter-spacing:1px;
}
input[type="submit"]:hover, button.submit:hover{
  background:#111725;
  color:#D5E3E3;
}
input:not([type="submit"]){
    display:block;
    width:80%;
    height:25px;
    padding-left:8px;
    margin:auto;
    margin-bottom:15px;
    border:none;
    background:#F2F2F2;
    letter-spacing: 2px;
    border-bottom:1px solid rgba(17,23,37,0.3);
    border-right:1px solid rgba(17,23,37,0.3);
}
input.inputError{
    border-bottom:2px solid #CD0100;
}
input:not([type="submit"]):focus{
    border-bottom:1px solid #000;
    border-right:1px solid #000;
}
label{
  letter-spacing:2px;
  font-size:12px;
}

.strike{
  text-align: center;
  margin:25px 0 25px 0;
}
.strike span{
  position: relative;
  display: inline-block;
  padding:15px;
  width:55px;
  border: 1px solid #52ACE7;
  border-radius: 100px;
  cursor:pointer;
}
.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #52ACE7;
}

.strike > span:before {
    right: 100%;
}

.strike > span:after {
    left: 100%;
}