/* NAVIGATION STYLE */
div#navigation-wrapper{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    color:#D5E3E3;
    overflow: visible !important;/*prevent jquery animate overflow:hidden*/
}
nav#navigation{
    width:55px;
    background:#111725;
    position:absolute;
    box-shadow:0 0 15px 1px #111725;
    height:100%;
    z-index:10;
}
nav#navigation > ul > li, nav#navigation img{
    width:45px;
    height:45px;
    display: block;
    margin:auto;    
}
nav#navigation ul li{
    cursor:pointer;
    margin-bottom:10px;
    position:relative;
    width:51px;
}
nav#navigation ul li:hover{
    animation-name:menu-element-hover;
    animation-duration:1s;
    background:#319CCE;
    border-radius:5px;
}
nav#navigation ul li:after{
    opacity:0;
}
nav#navigation ul li:hover:after{
    content:attr(data-title);
    position:absolute;
    display:block;
    left:53px;
    top:0px;
    background:#111725;
    height:30px;
    z-index:13;
    border:2px solid #319CCE;
    text-align:center;
    white-space: nowrap;
    padding:5px;
    animation-name:menu-element-after-hover;
    animation-duration:1s;
    opacity:1;
    box-shadow:0 0 5px 1px #111725;
}
@keyframes menu-element-hover{
    from {
        background:transparent;
    }
    to {
        background:#319CCE;
    }
}
@keyframes menu-element-after-hover{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
nav#navigation ul li ul{
    display:none;
}

nav#navigation-sub{
    transform:translateX(-55px);
    border-left:1px solid #D5E3E3;
    box-shadow: 0 -5px 5px #D5E3E3 inset;
    height:100%;
    padding:15px;
    background:#111725;
    white-space: nowrap;
    z-index:9;
}
nav#navigation-sub ul li{
    margin-bottom:15px;
    text-align:center;
}
nav#navigation-sub ul li a{
    color:#D5E3E3;
    text-decoration:none;
    font-weight:bold;
}
nav#navigation-sub ul li a:hover{
    color:#fff;
}
.navigation-title{
    background:#111725;
    box-shadow:0 0 15px 1px #111725;
    cursor:pointer;
    z-index:11;
    position:absolute;
    line-height:50px;
    text-align:center;
    overflow:hidden;
}
.navigation-title > span{
    font-weight:bold;
    font-size:1.1em;
    display:block;
    margin:auto;
}

/**  state0 = Main menu is closed **/
.state0 .navigation-title{
    width:75px;
    height:50px;
    line-height:50px;
    text-align:center;
    border-radius:0 0 8px 0;
    transform:translateX(75px);
}
.state0 nav#navigation{
    transform:translateX(-74px);
}

.state0 nav#navigation-sub{
    transform:translateX(-55px);
    opacity:0;
}
.state0 nav#navigation ul{
    transform:translateY(0);
}

/**  state1 = Main menu is open **/
.state1 .navigation-title{
    width:50px;
    height:125px;
    border-radius:0 8px 8px 0;
    transform:translateX(0);
}
.state1 .navigation-title span{
    opacity:1;
}
.state1 .navigation-title span span {
    height:27px;
    width:20px;
    display:block;
    margin:auto;
}
.state1 nav#navigation{
    transform:translateX(0);
}
.state1 nav#navigation-sub{
    transform:translateX(-55px);
    opacity:0;
}
.state1 nav#navigation ul{
    transform:translateY(135px);
}

/**  state2 = Sub menu is open **/
.state2 .navigation-title{
    width:50px;
    height:125px;
    border-radius:0 8px 8px 0;
}
@media only screen and (max-width:768px){
    .state2 .navigation-title{
        width:50px;
        height:45px;
      }
}
.state2 .navigation-title span{
    opacity:1;
}
.state2 .navigation-title span span {
    height:27px;
    width:20px;
    display:block;
    margin:auto;
}
.state2 nav#navigation ul{
    transform:translateY(135px);
}
@media only screen and (max-width:768px){
  .state2 nav#navigation ul{
        transform:translateY(45px);
    }  
}
.state2 nav#navigation-sub{
    transform:translateX(55px);
    opacity:1;
}

/** state0 to state1 **/
.state0to1 .navigation-title{
    animation-name: state0-to-1-title;
    animation-duration: 0.8s;
}
@keyframes state0-to-1-title{
    from {
        transform:translateX(55px);
        width:75px;
        height:50px;
        border-radius:0 0 8px 0;
    }
    to {
        transform:translateX(0);
        width:50px;
        height:125px;
        border-radius:0 8px 8px 0;
    }
}
.state0to1 .navigation-title span{
    animation-name: state0-to-1-title-span;
    animation-duration: 1.5s;
}
@keyframes state0-to-1-title-span{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.state0to1 nav#navigation{
    animation-name: state0-to-1-nav;
    animation-duration: 0.8s;
}
@keyframes state0-to-1-nav{
    from {
        transform:translateX(-55px);
    }
    to {
        transform:translateX(0);
    }
}
.state0to1 nav#navigation ul{
    animation-name: state0-to-1-ul;
    animation-duration: 0.8s;
}
@keyframes state0-to-1-ul{
    from{
        transform:translateY(0);
    }
    to{
        transform:translateY(135px);
    }
}
/** state1 to state0 **/
.state1to0 .navigation-title{
    animation-name: state1-to-0-title;
    animation-duration: 0.8s;
}
@keyframes state1-to-0-title{
    from {
        width:50px;
        height:125px;
        border-radius:0 8px 8px 0;
        transform:translateX(0);
    }
    to {
        width:75px;
        height:50px;
        border-radius:0 0 8px 0;
        transform:translateX(55px);
    }
}
.state1to0 .navigation-title span{
    animation-name: state1-to-0-title-span;
    animation-duration: 1.5s;
}
@keyframes state1-to-0-title-span{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.state1to0 nav#navigation{
    animation-name: state1-to-0-nav;
    animation-duration: 0.8s;
}
@keyframes state1-to-0-nav{
    from {
        transform:translateX(0);
    }
    to {
        transform:translateX(-55px);
    }
}
.state1to0 nav#navigation ul{
    animation-name: state1-to-0-ul;
    animation-duration: 0.8s;
}
@keyframes state1-to-0-ul{
    from{
        transform:translateY(135px);
    }
    to{
        transform:translateY(0);
    }
}

/** state1 to state2 **/
.state1to2 nav#navigation-sub{
    animation-name:state1-to-2-sub;
    animation-duration:0.8s;
}
@keyframes state1-to-2-sub{
    from {
        transform:translateX(-55px);
        opacity:0;
    }
    to {
        transform:translateX(55px);
        opacity:1;
    }
}
/** state2 to state1 **/
.state2to1 nav#navigation-sub{
    animation-name:state2-to-1-sub;
    animation-duration:0.8s;
}
@keyframes state2-to-1-sub{
    from {
        transform:translateX(55px);
        opacity:1;
    }
    to {
        transform:translateX(-55px);
        opacity:0;
    }
}

/** state2 to state0 **/
.state2to0 .navigation-title{
    animation-name:state2-to-0-title;
    animation-duration:0.8s;
}
@keyframes state2-to-0-title{
    0%{
        width:50px;
        height:125px;
        border-radius:0 8px 8px 0;
        transform:translateX(55px);
        transform:translateY(0);
    }
    50%{
        transform:translateY(-125px);
        width:50px;
        height:125px;
    }
    100%{
        width:75px;
        height:50px;
        border-radius:0 0 8px 0;
        transform:translateX(55px);
    }
}
.state2to0 .navigation-title span{
    animation-name:state2-to-0-title-span;
    animation-duration:1.5s;
}
@keyframes state2-to-0-title-span{
    from {
       opacity:0;
    }
    to {
        opacity:1;
    }
}
.state2to0 nav#navigation{
    animation-name: state2-to-0-nav;
    animation-duration: 0.8s;
}
@keyframes state2-to-0-nav{
    from {
        transform:translateX(0);
    }
    to {
        transform:translateX(-55px);
    }
}
.state2to0 nav#navigation-sub{
    animation-name:state2-to-0-sub;
    animation-duration:0.8s;
}
@keyframes state2-to-0-sub{
    from {
        transform:translateX(55px);
        opacity:1;
    }
    to {
        transform:translateX(-55px);
        opacity:0;
    }
}
/********************/