/** GENERAL NAVIGATION STYLES **/
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /** Prevent highlight on click on mobile device */
}
div#navigation-bottom-wrapper ul, div#navigation-bottom-wrapper li ,div#navigation-bottom-wrapper img{
    margin:0;
    padding:0;
    list-style:none;
}
div#navigation-bottom-wrapper{
    position:fixed;
    height:100%;
    color:#D5E3E3;
    overflow: visible !important;/*prevent jquery animate overflow:hidden*/
    z-index:100;
}
nav#navigation{
    width:55px;
    background:#111725;
    position:absolute;
    box-shadow:0 0 15px 1px #111725;
    height:100%;
    z-index:101;
}
nav#navigation > ul > li, nav#navigation img{
    width:45px;
    height:45px;
    display: block;
    margin:auto;    
}
nav#navigation ul li{
    border-bottom:2px solid transparent;
    cursor:pointer;
    margin-bottom:10px;
}
nav#navigation ul li:hover{
    animation-name:menu-element-hover;
    animation-duration:1s;
    border-bottom:2px solid rgba(255,255,255,1);
}
@keyframes menu-element-hover{
    from {
        border-bottom:2px solid rgba(255,255,255,0);
    }
    to {
         border-bottom:2px solid rgba(255,255,255,1);
    }
}
nav#navigation ul li ul{
    display:none;
}

nav#navigation-sub{
    transform:translateX(-55px);
    border-left:1px solid #D5E3E3;
    box-shadow: 0 -5px 5px #D5E3E3 inset;
    height:100%;
    padding:15px;
    background:#111725;
    white-space: nowrap;
}
nav#navigation-sub ul li{
    margin-bottom:15px;
    text-align:center;
}
nav#navigation-sub ul li a{
    color:#D5E3E3;
    text-decoration:none;
}
nav#navigation-sub ul li a:hover{
    color:#fff;
}
.navigation-title{
    background:#111725;
    box-shadow:0 0 15px 1px #111725;
    cursor:pointer;
    z-index:102;
    position:absolute;
    line-height:50px;
    text-align:center;
    overflow:hidden;
}
.navigation-title > span{
    font-weight:bold;
    font-size:1.1em;
    display:block;
    margin:auto;
}

/**  state0 = Main menu is closed **/
.state0 .navigation-title{
    width:75px;
    height:50px;
    line-height:50px;
    text-align:center;
    border-radius:0 0 8px 0;
    transform:translateX(0);
}
.state0 nav#navigation{
    transform:translateX(-74px);
}

.state0 nav#navigation-sub{
    transform:translateX(-55px);
    opacity:0;
}

/**  state1 = Main menu is open **/
.state1 .navigation-title{
    transform:translateX(55px);
    width:50px;
    height:125px;
    border-radius:0 8px 8px 0;
}
.state1 .navigation-title span{
    opacity:1;
}
.state1 .navigation-title span span {
    height:27px;
    width:20px;
    display:block;
    margin:auto;
}
.state1 nav#navigation{
    transform:translateX(0);
}
.state1 nav#navigation-sub{
    transform:translateX(-55px);
    opacity:0;
}

/**  state2 = Sub menu is open **/
.state2 .navigation-title{
    transform:translateX(0);
    width:50px;
    height:125px;
    border-radius:0 8px 8px 0;
}
.state2 .navigation-title span{
    opacity:1;
}
.state2 .navigation-title span span {
    height:27px;
    width:20px;
    display:block;
    margin:auto;
}
.state2 nav#navigation ul{
    transform:translateY(135px);
}
.state2 nav#navigation-sub{
    transform:translateX(55px);
    opacity:1;
}

/** state0 to state1 **/
.state0to1 .navigation-title{
    animation-name: state0-to-1-title;
    animation-duration: 1s;
}
@keyframes state0-to-1-title{
    from {
        transform:translateX(0);
        width:75px;
        height:50px;
        border-radius:0 0 8px 0;
    }
    to {
        transform:translateX(55px);
        width:50px;
        height:125px;
        border-radius:0 8px 8px 0;
    }
}
.state0to1 .navigation-title span{
    animation-name: state0-to-1-title-span;
    animation-duration: 2.5s;
}
@keyframes state0-to-1-title-span{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.state0to1 nav#navigation{
    animation-name: state0-to-1-nav;
    animation-duration: 1s;
}
@keyframes state0-to-1-nav{
    from {
        transform:translateX(-55px);
    }
    to {
        transform:translateX(0);
    }
}

/** state1 to state0 **/
.state1to0 .navigation-title{
    animation-name: state1-to-0-title;
    animation-duration: 1s;
}
@keyframes state1-to-0-title{
    from {
        transform:translateX(55px);
        width:50px;
        height:125px;
        border-radius:0 8px 8px 0;
    }
    to {
        transform:translateX(0);
        width:75px;
        height:50px;
        border-radius:0 0 8px 0;
    }
}
.state1to0 .navigation-title span{
    animation-name: state1-to-0-title-span;
    animation-duration: 2.5s;
}
@keyframes state1-to-0-title-span{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.state1to0 nav#navigation{
    animation-name: state1-to-0-nav;
    animation-duration: 1s;
}
@keyframes state1-to-0-nav{
    from {
        transform:translateX(0);
    }
    to {
        transform:translateX(-55px);
    }
}

/** state1 to state2 **/
.state1to2 .navigation-title{
    animation-name:state1-to-2-title;
    animation-duration:1s;
}
@keyframes state1-to-2-title{
    0% {
        opacity:1;
        transform:translateX(55px);
    }
    33% {
        opacity:0;
        transform:translateX(0);
        transform:translateY(-125px);
    }
    100%{
        opacity:1;
        transform:translateY(0);
    }
}
.state1to2 nav#navigation ul{
    animation-name:state1-to-2-ul;
    animation-duration:1s;
}
@keyframes state1-to-2-ul{
    from {
        transform:translateY(0);
    }
    to {
        transform:translateY(135px);
    }
}
.state1to2 nav#navigation-sub{
    animation-name:state1-to-2-sub;
    animation-duration:1s;
}
@keyframes state1-to-2-sub{
    from {
        transform:translateX(-55px);
        opacity:0;
    }
    to {
        transform:translateX(55px);
        opacity:1;
    }
}
/** state2 to state1 **/
.state2to1 .navigation-title{
    animation-name:state2-to-1-title;
    animation-duration:1s;
}
@keyframes state2-to-1-title{
    0% {
        opacity:1;
        transform:translateY(0);
    }
    33% {
        opacity:0;
        transform:translateY(-125px);
    }
    100%{
        opacity:1;
        transform:translateX(55px);
    }
}
.state2to1 nav#navigation ul{
    animation-name:state2-to-1-ul;
    animation-duration:1s;
}
@keyframes state2-to-1-ul{
    from {
        transform:translateY(135px);
    }
    to {
        transform:translateY(0);
    }
}
.state2to1 nav#navigation-sub{
    animation-name:state2-to-1-sub;
    animation-duration:1s;
}
@keyframes state2-to-1-sub{
    from {
        transform:translateX(55px);
        opacity:1;
    }
    to {
        transform:translateX(-55px);
        opacity:0;
    }
}

/** state2 to state0 **/
.state2to0 .navigation-title{
    animation-name:state2-to-0-title;
    animation-duration:1s;
}
@keyframes state2-to-0-title{
    from {
        width:50px;
        height:125px;
        border-radius:0 8px 8px 0;
    }
    to {
        transform:translateX(0);
        width:75px;
        height:50px;
        border-radius:0 0 8px 0;
    }
}
.state2to0 .navigation-title span{
    animation-name:state2-to-0-title-span;
    animation-duration:2.5s;
}
@keyframes state2-to-0-title-span{
    from {
       opacity:0;
    }
    to {
        opacity:1;
    }
}
.state2to0 nav#navigation{
    animation-name: state2-to-0-nav;
    animation-duration: 1s;
}
@keyframes state2-to-0-nav{
    from {
        transform:translateX(0);
    }
    to {
        transform:translateX(-55px);
    }
}
.state2to0 nav#navigation-sub{
    animation-name:state2-to-0-sub;
    animation-duration:1s;
}
@keyframes state2-to-0-sub{
    from {
        transform:translateX(55px);
        opacity:1;
    }
    to {
        transform:translateX(-55px);
        opacity:0;
    }
}