<form class="form-title-blue" name="userAccountLoginInfo" novalidate account-manage-login-info-dir>
	<h2>Login informations</h2>
	<div>
		<p>
			<label for="userLogin">Login</label>
			<input type="text" name="userLogin" id="userLogin" ng-model="user.userLogin" />
		</p>
		<p>
			<label for="userPassword">Password</label>
			<input type="password" name="userPassword" id="userPassword" ng-model="user.userPassword" />
		</p>
		<p>
			<label for="userPasswordConfirm">Password Confirmation</label>
			<input type="password" name="userPasswordConfirm" id="userPasswordConfirm" ng-model="user.userPasswordConfirm" />
		</p>
		<input type="submit" value="Modifier" />
	</div>
</form>