<div id="navigation-bottom-wrapper" class="state0" ng-controller="NavigationController">
    <div class="navigation-title" navigation-open-close-dir>
        <span>
            <span>M</span>
            <span>E</span>
            <span>N</span>
            <span>U</span>
        </span>
    </div>
	<nav id="navigation" role="navigation">
		<ul id="navigation-elements">
			<li ng-repeat="element in menuElements" ng-hide="{{ element.hide }}" class="navigation-element" navigation-menu-element-dir>
				<a href="{{ element.link }}" ng-if="element.link">
					<img src="{{ element.imgSrc }}" />
				</a>
				<img src="{{ element.imgSrc }}" ng-if="!element.link" />
				<ul class="navigation-sub-elements" ng-if="element.subElements">
					<li class="navigation-sub-element" ng-repeat="subElement in element.subElements" ng-hide="{{ subElement.hide }}" >
    					<a href="{{ subElement.link }}">{{ subElement.label }}</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
    <nav id="navigation-sub"></nav>
</div>